.bechelor{
    margin: 20px;
    text-align: center;
}
h3{
    margin-bottom: 20px;
}
.bechelor-title{
    font-size: 20px;
    font-weight: 900;
    color: #712940;
}
.bechelor-section{
    margin: 200px 20px 20px 20px;
}
.bechelor-header{
    font-size: 30px;
    font-weight: 700;
    color: #712940;
    text-decoration: underline;
}
.bechelor-text{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #000000b8;
    margin: 10px;
}

@media screen and (max-width: 480px) {
    .bechelor-header{
        font-size: 25px;
    }
}
@media screen and (max-width: 380px) {
    .bechelor-header{
        font-size: 20px;
    }
    .bechelor-text{
        font-size: 16px;
    }
}