/* ------------------------ SLIDER ------------------------ */
.slides {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: 500px;
}

.slideshow {
    max-width: 60%;
    position: relative;
    margin: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 20px;
    margin-top: -22px;
    color: #712940;
    font-weight: 900;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    border-radius: 5px;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background: #717171;
}

.caption {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.slideNumber {
    color: #fff;
    font-size: 18px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.pointer {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb8f;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.pointer:hover {
    background: #7171719a;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .5;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1020px) {
    img {
        height: 300px;
    }
}
@media screen and (max-width: 380px) {
    .slides {
        width: 100%;
    }
}

/* ------------------------ Notice & Youtube Section ------------------------ */

.notice-youtube {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
}

.notice {
    width: 200%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.date {
    background: #712940;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #fff;
    text-align: center;
    height: 100px;
    width: 100px;
}

.day {
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 5px;
    margin-top: 10px;
}

.month {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 5px;
}

.year {
    font-size: 25px;
    font-weight: 700;
}

.notice-title {
    font-size: 25px;
    font-weight: 700;
    background: #B48C9C;
    color: #fff;
    height: 100px;
    width: 500px;
    padding-left: 10px;
    padding-top: 30px;
    text-decoration: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.youtube-video {
    width: 600px;
    height: 400px;
    border-radius: 10px;
    margin-right: 20px;
}

@media screen and (max-width: 1600px) {
    .notice-youtube {

        margin-left: 10%;
    }
}

@media screen and (max-width: 1380px) {
    .notice-youtube {

        margin-left: 5%;
    }
}

@media screen and (max-width: 1300px) {
    .notice-youtube {
        flex-direction: column;
        margin-left: 2%;
    }

    .notices {
        margin-bottom: 20px;
        width: 100%;
    }

    .notice {
        width: 100%;
    }

    .notice-title {
        width: 100%;
        margin-right: 20px;
    }

    .youtube-video {
        width: 95%;
        margin-right: 2%;
    }
}

@media screen and (max-width: 580px) {
    .notice-title {
        font-size: 20px;
    }

    .youtube-video {
        height: 200px;
    }
}

@media screen and (max-width: 380px) {
    .notice-title {
        padding-top: 20px;

    }
}