.journal{
    margin: 20px;
}
.img{
    text-align: center;
    height: 300px;
}
img{
    height: 100%;
}
.journal-title{
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 900;
    color: #712940;
    margin-bottom: 20px;
}
.journal-heading{
    font-size: 25px;
    text-decoration: underline;
    color: #000;
    margin-bottom: 10px;
}
.journal-text{
    margin: 10px;
    font-size: 18px;
    color: #000000d4;
    letter-spacing: 0.5px;
}
@media screen and (max-width: 580px) {
    .img img{
        width: 100%;
    }
    .journal-title{
        font-size: 30px;
    }
}