.patners-section{
    margin-top: 20px;
}
.patners-title{
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: #712940;
    text-decoration: underline;
}
.patners{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.patner{
    padding: 5px;
    height: 300px;
    width: 300px;
    text-align: center;
    background: #B48C9C;
    border-radius: 10px;
}
.patner img{
    height: 90%;
    width: 100%;
}
.patner-txt{
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

@media screen and (max-width: 1320px) {
    .patners{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 980px) {
    .patners{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 660px) {
    .patners{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 380px) {
    .patner{
        width: 100%;
    }
}
